<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>Quiz 2015</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h2>Quiz: Créditos</h2>
    <p> <img src="/images/MiFoto_1.jpg" /> </p>
    <p> Autor: <%= autor %>  </p>
  </body>
  
</html>
