<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Bienvenido a <%= title %></h2>
    <p>El portal donde podrá crear sus propios juegos!</p>
  </body>
</html>
