body                 { background: #333; }

#page-wrap:after     { content: "Smartphone Layout"; }


body                 { font-size: xx-large;}
footer, input        { font-size: large; }
section { height: 100px;   }