<p><label for="preg" class="rem">Pregunta</label>
<input type="text" id="preg" name="quiz[pregunta]" placeholder="<%= quiz.pregunta %>"/></p>
<p><label for="resp" class="rem">Respuesta</label>
<input type="text" id="resp" name="quiz[respuesta]" placeholder="<%= quiz.respuesta %>"/></p>
<p><label for="tem" class="rem">Temática</label>
	<select id="tema" name="quiz[tema]">
	  <option value="otro" selected>Otro</option>
	  <option value="humanidades">Humanidades</option>
	  <option value="ocio">Ocio</option>
	  <option value="ciencia">Ciencia</option>
	  <option value="tecnologia">Tecnología</option>
	</select>
</p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar"</>

