<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Quiz1</title>
		<link rel='stylesheet' href='/stylesheets/style.css'/>
	</head>
	<body>
		<h2> Preguntas </h2>
		<table>
			<% var i; for (i=0; i < quizes.length; i++) { %>
			<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
			<% } %>
		</table>
	</body>
</html>
